#infosection {
  padding: 100px 0;
  text-align: justify;
  text-justify: inter-word;
}

.icon {
  font-size: 5em; /* Adjust the font size as needed */
}

.infosection-text p {
  margin-left: 0.5em; /* Adjust the margin-top to control spacing between icons and text */
}

.info-container{
  margin-top:20px;
  margin-bottom:40px;
}